
	 
	 
	/*=============*/
	/*===row color======*/
	/*=============*/
  .color1 { background-color: #1B384A;
	       }
	       .color1:hover { background-color: #0A3E63;
	                }
  .color2 {background-color: #1C2C39;
           }
		   .color2:hover { background-color: #0A3E63;
	                }
	/*=============*/
	/*===row color end======*/
	/*=============*/
	
	
	/* Custom checkbox and radio styles */

